<!DOCTYPE html>
<html>
<head>
<style>
	body { font-family: 'Go', sans-serif; }
</style>
<script>
	const events = new EventSource("/events");
	events.addEventListener("now", function(e) {
		document.getElementById("now").innerHTML = e.data;
	});
</script>
<body>
	<div id="now"></div>
</body>
</html>
